*{
    box-sizing: border-box;
}

body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    /* 隐藏x轴的溢出元素 */
    overflow-x: hidden;

}

h1{
    margin: 10px;
}

.box{
    background-color: aquamarine;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    /* 因为需要从X轴两侧渐入，就用translateX ，
     200%就可以将div移除屏幕,100px是向右移动100px*/
    transform: translateX(200%);
    transition: transform 0.4s ease;
}
/* 让我们给每个偶数的div一个在左边移动的动画效果 */
.box:nth-of-type(even){
    transform: translateX(-200%);
}
.box.show{
    /* 当我们利用js给div添加类.box.show时，div就会移动回来 */
    transform: translateX(0px);
}
.box h2{
    font-size: 45px;
}
