*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg{
    /* 不重複，以X和Y軸爲中心，覆蓋背景位置 */
    background: url('https://pic1.zhimg.com/80/v2-3363c5dec7dbdf0b3f0449ba1c4623fc_720w.webp') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: aqua;
}